.analytics {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f5f6fa;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.analytics-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.analytics-header h1{
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50
}

.analytics-controls {
    display: flex;
    gap: 10px;
}

.analytics-controls select{
    padding: 6px 10px;
    font-size: 12px;
    color: #2c3e50;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    outline: none;
    transition: border-color 0.3s ease;
}

.analytics-controls select:hover {
    border-color: #1abc9c;
}

.analytics-controls select:focus {
    border-color: #1abc9c;
    box-shadow: 0 0 5px rgba(26, 188, 156, 0.5);
    transition: box-shadow 0.1s ease;
}

.course-dropdown {
    display: flex;
    gap: 10px;
}

.course-dropdown select{
    padding: 6px 10px;
    font-size: 12px;
    color: #2c3e50;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    outline: none;
    transition: border-color 0.3s ease;
}

.course-dropdown select:hover {
    border-color: #1abc9c;
}

.course-dropdown select:focus {
    border-color: #1abc9c;
    box-shadow: 0 0 5px rgba(26, 188, 156, 0.5);
    transition: box-shadow 0.1s ease;
}

.analytical-legend {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.analytical-legend h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.analytics-legend ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}
.analytics-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.legend-color.red {
    background-color: #e74c3c; /* Red for "Fundamental Misunderstanding" */
}
  
  .legend-color.orange {
    background-color: #f39c12; /* Orange for "Partial Understanding" */
}
  
  .legend-color.yellow {
    background-color: #f1c40f; /* Yellow for "Adequate Understanding" */
}
  
  .legend-color.green {
    background-color: #2ecc71; /* Green for "Proficient Understanding" */
}
  
  .legend-color.blue {
    background-color: #3498db; /* Blue for "Exceptional Understanding" */
}

.anaylitcal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.analytics-content img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
  
  .analytics-content p {
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
}
  
  .analytics-content small {
    color: gray;
}